:root {
  --primary-soft-blue: hsl(231, 69%, 60%);
  --primary-soft-red: hsl(0, 94%, 66%);
  --neutral-grayish-blue: hsl(229, 8%, 60%);
  --neutral-dark-blue: hsl(229, 31%, 21%);
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.15;
  font-weight: 400;
  color: var(--neutral-grayish-blue);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--neutral-dark-blue);
}

h1 {
  font-size: 2.6rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-soft-red);
}

.strong {
  font-weight: 500;
  color: var(--neutral-dark-blue);
  font-size: 1.2em;
}

p.partial-width {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/* header */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* Simple Bookmark Manager */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.left {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 50%;
}

.right {
  grid-column-start: 2;
  grid-row-start: 1;
}

/* Features */

.tab-border {
  border-bottom: 5px solid var(--primary-soft-red);
}

.tab-bold {
  font-weight: 500;
  color: var(--neutral-dark-blue);
}

.tabs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs-container {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0 0;
  border-bottom: 1px solid gray;
}

.tab-content-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
}

.tab-item:active {
  color: var(--neutral-dark-blue);
}

.tab-item {
  padding: 2rem;
}

.tab-item:hover {
  color: var(--primary-soft-red);
  cursor: pointer;
}

#tab-1-content .tab-content-inner,
#tab-2-content .tab-content-inner,
#tab-3-content .tab-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* Hide content initially */
#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

.copy {
  text-align: left;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem 0;
  max-width: 280px;
  border-radius: .5em;
}

.card:first-child {
  margin-top: 0;
  margin-bottom: -1rem;
  justify-self: end;
}

.card:nth-child(2) {
  margin-top: 1rem;
  margin-bottom: -2rem;
  justify-self: center;
}

.card:nth-child(3) {
  margin-top: 2rem;
  margin-bottom: -3rem;
  justify-self: start;
}

img.dots {
  padding: 2rem 0;
}

/* Frequently Asked Questions */

.faq {
  padding: 10em 0 5em;
}

.accordion-container {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.question {
  display: flex;
  justify-content: space-between;
}

.question img {
  align-self: center;
}

.question:first-child {
  border-top: 1px solid lightgray;
}

.question {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

.question:hover {
  cursor: pointer;
}

.panel {
  text-align: left;
}

.panel {
  display: none;
}

.open {
  display: block !important;
}

/* Signup Section */

.signup {
  background: var(--primary-soft-blue);
}

.signup-container {
  max-width: 25%;
  padding: 5rem 0;
  margin: 5rem auto 0;
}

.signup .strong {
  font-size: 2em;
}

.signup-container p.caps {
  letter-spacing: 5px;
}

::placeholder {
  color: var(--neutral-grayish-blue);
}

input[type=email] {
  border-radius: 10px;
  padding: 1rem;
  font-family: inherit;
  width: 60%;
}

input[type=submit] {
  background: var(--primary-soft-red);
  color: #fff;
  border: 1px solid var(--primary-soft-red);
  border-radius: 10px;
  padding: 1rem;
  font-family: inherit;
}

/* Footer */

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: var(--neutral-dark-blue);
}

.text-white {
  color: #fff;
}

.caps {
  text-transform: uppercase;
}

/* buttons */

button {
  border: none;
  padding: 15px 32px;
  font-size: inherit;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

button.btn-red {
  background: var(--primary-soft-red);
  color: #fff;
  border: 1px solid var(--primary-soft-red);
}

button.btn-red:hover,
input[type=submit]:hover {
  background: #fff;
  color: var(--primary-soft-red);
  border: 1px solid var(--primary-soft-red);
  cursor: pointer;
}

button.btn-blue {
  background: var(--primary-soft-blue);
  color: #fff;
  border: 1px solid var(--primary-soft-blue);
}

button.btn-blue:hover {
  background: #fff;
  color: var(--primary-soft-blue);
  border: 1px solid var(--primary-soft-blue);
}

button.btn-gray:hover {
  background: #fff;
  color: var(--neutral-dark-blue);
  border: 1px solid var(--neutral-dark-blue);
}

button.btn-gray {
  background: hsl(229, 8%, 90%);
  color: var(--neutral-dark-blue);
  border: 1px solid hsl(229, 8%, 90%);
}

.text-center {
  text-align: center;
}

.menu-items a,
.footer-items a {
  letter-spacing: 1px;
  padding: 0 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.attribution a {
  color: hsl(194, 100%, 63%);
}

@media(max-width: 600px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .left,
  .right {
    grid-column: auto;
    grid-row: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  .left p {
    text-align: center;
    line-height: 1.8;
    letter-spacing: .5px;
  }

  .features {
    padding: 6rem 0;
  }

  p.partial-width {
    max-width: 85%;
    line-height: 1.8;
  }

  .tabs-container {
    grid-template-columns: 1fr;
    gap: 0;
    width: 90%;
    max-width: 90%;
  }

  .tab-item {
    border-top: 1px solid gray;
    padding: 1rem 3rem;
    line-height: 1.5;
  }

  #tab-1-content .tab-content-inner,
  #tab-2-content .tab-content-inner,
  #tab-3-content .tab-content-inner {
    grid-template-columns: 1fr;
  }

  .copy {
    text-align: center;
    line-height: 1.8;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .card:first-child {
    justify-self: center;
  }

  .card:nth-child(3) {
    justify-self: center;
  }

  .card {
    padding: 5rem 0 1.2rem;
    max-width: 100%;
  }

  .accordion-container {
    max-width: 90%;
  }

  .faq {
    padding-bottom: 2rem;
  }

  .faq button.btn-blue {
    margin: 3rem;
  }

  .signup-container {
    margin: 0 auto;
    max-width: 90%;
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  input[type=email] {
    margin: 1rem auto;
    width: 90%;
  }

  .footer-flex {
    flex-direction: column;
    text-align: center;
  }

  .footer-items {
    display: flex;
    flex-direction: column;
  }

  .footer-items a {
    padding: .8rem;
  }

  .footer-items.icons {
    flex-direction: row;
    justify-content: center;
  }

  .menu-items a {
    display: flex;
    flex-direction: column;
  }

}